$primary:       rgba(0,151,77,1);
$primary-dark:  rgba(0,105,52,1);
$grey:          #4a4948;
$light-bg:      rgb(247, 248, 248);
$dark:          #343534;

$green-gradient: linear-gradient(to right, rgba(0,151,77,1) 0%,rgba(0,105,52,1) 100%);
