.speaker-img{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 232px;
    margin-bottom: 10px;
    padding-left:15px;
    padding-right:15px;
  }

  .speakers-section{
    padding: 30px 15px 60px 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #494949;
    h2{
      color: #fff;
    }
    h4{
      color: #2c2a29;
      font-size: 17px;
      font-weight: 400;
      margin-top: 10px;
      margin-bottom: 2px;
      @include respond-below('xs'){
        font-size: 24px;
      }
    }
    p{
      color: #2e2c2b;
      font-size: 14px;
      line-height: 20px;
      display: block;
      margin-bottom: 0;
      @include respond-below('xs'){
        font-size: 22px;
        line-height: 47px;
        //margin-bottom: 30px;
      }
    }
  }

  .speaker-content{
    @include make-col(12)
    @include make-col-xs(12);
    @include make-col-sm(6);
    @include make-col-md(4);
    @include make-col-lg(3);
  }

  .speaker-card{
    @extend .card;
    padding:10px 10px 30px 10px;
    border-radius: 5px;
    margin-top: 30px;
    @include respond-below('xs'){
      padding-bottom: 10px;
    }
  }

  .speaker-social-link {
    display: none;
  }

  .speaker-img {
    @include make-col-xs(4);
    @include make-col-sm(12);
    @include respond-below('xs'){
      margin-bottom: 0px;
    }
  }

  .speaker-details {
    //@include make-col(8);
    @include make-col-xs(8);
    @include make-col-sm(12);
    @include respond-below('xs'){
      text-align: left;
    }
    @include respond-above('xs'){
      padding-right:0;
      padding-left:0;
    }

  }
